@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #19A7CE;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloppal {
    color: white;
    font-size: 32px;
}
.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon {
width: 180px;
height: 100px;
background: #146C94;
padding: 10px;
box-sizing: border-box;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
color: white;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    color: white;
}

.tarjeta-mokepon img {
    width: 80px;
}

input {
    display: none;
  }

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #146C94;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    width: 120px;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
}

#mensajes {
    width: 280px;
    background: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar{
    border: transparent;
    background:#146C94;
    color: white;
    width: 180px;
    font-family: 'Poppins', sans-serif;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    color: white;
}